body {
  color: #17202A;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1400px;
  margin: 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #5499C7;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/6Jl3Hjb.jpg") no-repeat center center/cover; }

footer {
  color: #17202A;
  padding: 8px 0;
  margin-left: 1px;
  margin-top: 16px;
  margin-bottom: 0px;
  position: relative; }

header {
  margin-top: 12px;
  margin-bottom: 38px; }

header a {
  color: #424949;
  margin-right: 16px;
  text-decoration: none;
  font-weight: bold; }

header a:hover {
  color: #EDBB99; }
