<footer>

  <div class="card text-white bg-dark mb-3" style="max-width: 1400rem;">
  <div class="card-header"><strong>Information</strong></div>
  <div class="card-body">
        <p class="card-text"><em>Created by Trương Đình Toàn</em></p>
        <p class="card-text"><em>University of Information Technology - K18 - 18521512</em></p>
  </div>

</div>

</footer>