<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t1.6435-9/132004317_2818062718451082_8800063620016692677_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=5n3F1rIZcOcAX_B3otr&_nc_ht=scontent.fsgn13-2.fna&oh=ff2d1f93981ba81b1fed7bfecc7cbbfe&oe=61766613" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">This is my first web project using:
        <ul>
            <li>Javascript</li>
            <li>Node JS with fundamental functions</li>
            <li>Express JS</li>
            <li>Weather stack API</li>
            <li>Map box API</li>
        </ul>
    </p>
  </div>
</div>