<div>
    <form>
 <div class="card">
  <div class="card-body">
    <h4 class="card-title">Weather Forecast </h5>
      <input placeholder="Put your location in here <3">
      <button class="btn btn-success">Search</button>
      <hr>
        <div>
          <p id="mess1"></p>
          <p id="mess2"></p>
          <p id="mess3"></p>
          <p id="mess4"></p>
          <p id="mess5"></p>
          <p id="mess6"></p>
          <p id="mess7"></p>
          <p id="mess8"></p>
          <p id="mess9"></p>
  </div>
  </div>
</div>
</form>
</div>
<div>
   <script src="JS/app.js"></script>
</div>